*
{
    margin : 0px;
    padding : 0px;
    font-family : serif;
}

#banner
{
  width : 100%;
  height : 100vh;  /*here, vh mean viewport height! */
  background-image: linear-gradient( rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg) ;/*rgba(red,green,blue,alpha=opacity)*/
  background-size: cover;
  background-position : center; 
}

#abc
{
    width : 90%;
    margin : auto;
    height : 10%;
    display : flex; 
    /* align-items : center; */
    /* justify-content: center;*/
}
ul
{
    display : flex; 
    align-items : center;
    justify-content: center;
}
ul li
{
    list-style: none;
    margin-left: 7%;
}
#mainnavbar
{
    width: 100%;
    background-color: black;
    background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5));
    /* position : fixed; */
    opacity:0.75;
}

.login
{
    width : 30%;
    height : 40%;
    background-color: white;
    margin-top : 35%;
    margin-left : 45%;
}

.carouseldiv
{
    width : 100%;
    height : 50%;
    border : 2px solid white;
    /* padding-top: 3%;
    padding-left: 3%; */
}

.headercontent
{
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
}

.headercontent1
{
   flex-direction: column;
}

.courouselcontent
{
    padding-top: 5%;
}

.n1 :hover
{
    color : red;
    background-color: lightcyan;
    box-shadow: 2px gray;
}

.buttoneffect :hover
{
    font-weight : bold;
    background-color : white;
    color : blue;
    box-shadow: 4px 4px 2px 1px black;
}

.carouselbutton :hover
{
    outline : white;
    color: white;
    font-weight : bold;
    background-color : none;
    box-shadow: 3px 3px 2px 1px white;
}